@model TestTwinCoreProject.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Изменение пароля";
}
<section class="change-pas">
    <form class="change-pas-form" asp-action="ChangePassword" asp-controller="Account">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="change-pas-item">
            <label asp-for="NewPassword">Новый пароль</label>
            <input type="text" asp-for="NewPassword" />
        </div>
       <div class="change-pas-item">
            <input type="submit" value="Изменить пароль" class="btn-sd" />
        </div>
    </form>
</section>