@model TestTwinCoreProject.ViewModels.RestoreAccountViewModel

<h2>Відновлення доступа</h2>
<form method="post" asp-controller="Account" asp-action="RestoreAccount">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Відновити доступ" />
    </div>
</form>