
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Open Sans"
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.form-control, .input-group-text {
    border: 1px solid #0080ff;
}

a.btn:hover {
    cursor: pointer !important;
}
/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 40%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-btn {
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.avatar-item-menu {
    transition-delay: 0.1s;
}
.avatar-item-menu:hover {
     background-color: #588184 !important;
}
.avatar-item-menu-btn {
    border: none;
    background: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
}
    .avatar-item-menu-btn:focus {
        outline: none;
    }

@media screen and (max-width: 576px) {
    .navbar-menu-item {
        position: absolute;
        top: 100%;
        left: 0px;
    }

    .navbar-menu-item li { padding: 5px 10px; }
}




a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
}

.post {
    background-color: #F5F5FE;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 2px 10px;
}

.title {
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 20px;
}

.post-content::before {
    display: block;
    content: "";
    height: 2px;
    width: 11vw;
    padding: 3px 0;
    margin-bottom: 7px;
    background-color: #004a8f;
}

.post-content {
    font-weight: 300;
    font-size: 21px;
    line-height: 31px;
}

.post-content-img {
    max-width: inherit;
}

.post-img {
    object-fit: cover;
    max-width: -webkit-fill-available;
}

.post-date {
    text-align: right;
    font-style: italic;
    font-weight: 300;
}

.create-note-btn {
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: center;
    width: -webkit-fill-available;
    border: 1px solid #d5d5d5;
    border-radius: 35px !important;
    background-color: #ebebeb;
    font-style: italic;
    font-weight: 300;
}

.create-note-btn:hover {
    background-color: #d4d4d4;
    transition-duration: 0.3s;
}

.create-note-btn-svg {
    padding-right: 8px;
}

.post-textarea {
    height: 50vh;
}

.post-delete {
    background-image: url("/img/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    border: none;
}

.user-img img{
    max-width: 250px;
    margin: 0 0 3vh 0;
}
.user-information {
    

}
.user-information-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1vh 0;
}
.user-information-item span {
    display: block;   
}
.user-information-item-text {
    padding: 0 5vw
}

.user-information-item span:first-child{
     flex: 1 1 auto;
 }
.user-information-change {
    background-image: url("../img/edit-2.svg");
    background-repeat: no-repeat;
    content:" ";
    min-width:24px;
}