@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
}
.post {
    background-color: #F5F5FE;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px 2px 10px;
}

.title {
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 20px;
}

.post-content::before {
    display: block;
    content: "";
    height: 2px;
    width: 11vw;
    padding: 3px 0;
    margin-bottom: 7px;
    background-color: #004a8f;
}

.post-content {
    font-weight: 300;
    font-size: 21px;
    line-height: 31px;
}

.post-content-img {
    max-width: inherit;
}

.post-img {
    object-fit: cover;
    max-width: -webkit-fill-available;
}