@model TestTwinCoreProject.Models.Note
@{
    ViewBag.Title = "Додати";
}

<form asp-action="Create" asp-controller="Note">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Заголовок</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Вміст</label>
        <input type="text" asp-for="Content" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>