@model IEnumerable<TestTwinCoreProject.Models.Note>
@{
    ViewBag.Title = "Щоденник";
}

<button type="button" id="CreateNoteBtn">Додати нотатку</button>


<div id="CreateNoteBlock"></div>

@foreach (var note in Model)
{
    <div class="post @note.Id">
        <span class="title">@note.Title</span>
        <div class="post-content">
            @note.Content
        </div>
        <div class="post-content-img">

        </div>
    </div>
}

